body {
  padding-top: 56px;
  color: black;
  background-color: white;
}

.navbar-custom {
  background-color: #fc9f00;
}

.navbar-custom-text {
  color: white;
  font-weight: 600;
  font-size: 22px;
  display: block;
  padding: 0.6rem 0.5rem;
}

.carausel-custom-text {
  color: black;
  text-align: center;
}